body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.logo {
  height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  color: white;
}

.main-img {
  width: 15rem;
  height: 20rem;
  border-radius: 1em;
  object-fit: cover;
}

main {
  margin-top: 3rem;
  /* width: 50rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country {
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.location {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.location-in {
  display: flex;
}
.location-link {
  margin-left: 1em;
  color: #918e9b;
}
.card {
  width: 50rem;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.card-in {
  padding: 2em;
}

.main-img2 {
  height: 1.2em;
}
.date {
  margin: 1em 0 1em 0;
  font-weight: bold;
}
